@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@100&display=swap");

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%)
  );
  padding-top: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  border-radius: 0px 0px 32px 32px;
}

.result h2 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: #cac9ff;
}

.result .point {
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  padding: 25px, 38px, 22px, 38px;
}

.result .point .big {
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 800;
  color: white;
  text-align: center;
  line-height: 72px;
}

.result .point .small {
  display: inline-block;
  font-size: 1.6rem;
  opacity: 0.5168;
  font-weight: 700;
  max-height: 5px;
  color: #cac9ff;
}

.result h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
  margin-top: 24px;
}

.result .details {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #cac9ff;
  margin-top: 8px;
  text-align: center;
  width: 260px;
}

.summary {
  padding: 24px, 30px, 30px;
}

.summary h2 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #303b59;
}

.summary .wrapper {
}
